
<head></head>
  <%= form_tag(food_trucks_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], id: "search-field", placeholder: "Search Food Trucks" %>
  <%= submit_tag "Search", :name => nil %>
  <% end %>

<div class = "row">

  <div class = "small-1 column">
    <p></p>
  </div>
  <div class = "small-10 column">
    <ul class = "small-block-grid-1 medium-block-grid-3" data-equalizer>
      <% @food_trucks.each do |food_truck| %>
          <li id="list">
            <div class="panel" data-equalizer-watch>
              <ul class="in_panel">
                <li><div class="name"><%= link_to food_truck.name, food_truck_path(food_truck) %></div></li>
                <li>Rating: <%= food_truck.avg_rating %></li>
              </ul>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
  <div class = "small-1 column">
    <p></p>
  </div>
</div>
