<h1> <%=@food_truck.name %> </h1>
<ul>
  <h3>
    Average Food Truck Rating: <%=@food_truck.avg_rating%>
  </h3>
  <p>
  Primary Location: <%=@food_truck.location%>
  </p>

  <p><h5>
    <%=@food_truck.description%>
  </p></h5>
</ul>

<h2>Reviews</h2>

<button data-remote="true" class="button radius"
onclick="toggle_visibility('reviewform');">
Submit Your Review</button>
<div id='reviewform'>
 <%= form_for [@food_truck, @review] do |f| %>
  <%= f.label :header %>
  <%= f.text_field :header %>
  <br>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br>
  <%= f.label :rating %>
  <%= f.text_area :rating %>
  <br>

  <%= f.submit "Submit Review" %>
 <% end %>
</div>

<div id="reviews">
<%= render @reviews %>
</div>

<div id ="paginator">
  <%= paginate @reviews, :remote => true %>
</div>

<%= link_to "Back", food_trucks_path,
class: "button success" %>
