<h1> <%=@food_truck.name %> </h1>
<ul>
  <h3>
    <%=@food_truck.avg_rating%>
  </h3>
  <p>
  Primary Location: <%=@food_truck.location%>
  </p>

  <p><h5>
    <%=@food_truck.description%>
  </p></h5>
</ul>

<h2>Reviews</h2>


<script type="text/javasscript">
  function toggle_visibility(id) {
    var e = document.getElementById(id);
    e.style.display = 'block';
    debugger;
  }
</script>
<a href="#" onclick="toggle_visibility('reviewform');">
<div id='reviewform'>
 <%= form_for(:review) do |f| %>
  <%= f.label :header %>
  <%= f.text_field :header %>
  <br>
  <%= f.label :body %>
  <%= f.text_field :body %>
  <br>
  <%= f.label :rating %>
  <%= f.text_area :rating %>
  <br>

  <%= f.submit "Submit Review", class: "success button" %>
 <% end %>
</div>

<% @reviews.each do |review| %>
  <p><%= review.header  %></p>
  <p><%= review.rating  %></p>
  <p><%= review.body  %></p>
  <p><%= review.created_at  %></p>
<% end %>

<%= link_to "Back", food_trucks_path, class: "button success" %>
