<div class="panel">

    <div id="info">
      <ul>
        <p>Header: <%= review.header  %></p>
        <p>Rating: <%= review.rating  %></p>
        <p>Review: <%= review.body  %></p>
        <% if current_user %>
        <div id="<%= review.id %>">
          <div id="ballotBox">
            <a id="upvote" class="vote"> <%= image_tag("upvote.png", :class =>"hvr-grow") %> </a>
            <div id="review_score"> <%= review.score %> </div>
            <a id="downvote" class="vote"><%= image_tag("downvote.png", :class =>"hvr-grow") %></a>
          </div>
        </div>
        <% else %>
        <div id="ballotBox">
          <a> <%= link_to image_tag("upvote.png"), new_user_session_path,:id =>"novoteforyou", :class =>"hvr-grow" %> </a>
          <div id="review_score"> <%= review.score %> </div>
          <a> <%= link_to image_tag("downvote.png"), new_user_session_path, :id =>"novoteforyou2", :class =>"hvr-grow"  %></a>
        </div>
      </div>
        <% end %>
        <ul>Created At: <%= review.created_at.to_date  %></ul>
      </ul>
    </div>
    <%- if current_user == review.user && current_user -%>
    <button data-remote="true" class="button radius button-edit-form">
    Edit your review</button>


    <div class="hide form-div" >
       <%= form_for [@food_truck, review], class: "edit-form" do |f| %>
        <%= f.label :header %>
        <%= f.text_field :header %>
        <br>
        <%= f.label :body %>
        <%= f.text_field :body %>
        <br>
        <%= f.label :rating %>
        <%= f.number_field :rating %>
        <br>
        <%= f.submit "Submit Review", :class => 'edit_button' %>
       <% end %>
    </div>
    <%- end -%>

    <% if current_user %>
      <% if current_user.admin || current_user == review.user %>
        <%= link_to "Delete review", [@food_truck, review], method: :delete,
         data: {confirm: "Are you sure?"} %>
      <% end %>
    <% end %>


</div>
