<%- if current_user -%>
<div class="panel">

    <div id="info">
      <ul>
        <ul>Header: <%= review.header  %></ul>
        <ul>Rating: <%= review.rating  %></ul>
        <ul>Review: <%= review.body  %></ul>
        <ul>Created At: <%= review.created_at.to_date  %></ul>
      </ul>
    </div>

    <button data-remote="true" class="button radius button-edit-form">
    Edit your review</button>

    <div class="hide form-div" >
       <%= form_for [@food_truck, review], class: "edit-form" do |f| %>
        <%= f.label :header %>
        <%= f.text_field :header %>
        <br>
        <%= f.label :body %>
        <%= f.text_field :body %>
        <br>
        <%= f.label :rating %>
        <%= f.text_area :rating %>
        <br>

        <%= f.submit "Submit Review" %>
       <% end %>
    </div>
</div>

<%- end -%>
