<!DOCTYPE html>
<html>
<head>
  <title>FoodTrucks</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Food Truck Finder</a></h1>
        <li class="divider"></li>
      </li>
    </ul>


    <section class="top-bar-section">
      <ul class="right">
        <li class="has-form">
          <form>
              <div class="row collapse">
                  <div class="small-8 columns">
                      <%= form_tag(food_trucks_path, :method => "get", id: "search-form") do %>
                      <%= text_field_tag :search, params[:search], id: "search-field", placeholder: "Search Food Trucks" %>
                  </div>
                  <div class="small-4 columns">
                      <%= submit_tag "Search", class: "button secondary", :name => nil %>
                  </div>
              </div>
          </form>
      </li>
      <% end %>

        <li class="divider"></li>
        <li><%= link_to 'Submit New Food Truck', new_food_truck_path %></li>
        <li class="divider"></li>
        <%- if current_user -%>
          <li><%= link_to 'My Account', user_path(current_user) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <li class="divider"></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li class="divider"></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
          <li class="divider"></li>
        <%- end -%>
      </ul>

    </section>
  </nav>


  <%- flash.each do |key, value| -%>
    <% if flash[:success].nil? %>
    <div data-alert class="alert-box alert">
    <div class="flash flash-<%= key %>">
      <%= value %>
      <a href="#" class="close">x</a>
    </div>
  </div>
  <% else %>
  <div data-alert class="alert-box success">
  <div class="flash flash-<%= key %>">
    <%= value %>
    <a href="#" class="close">x</a>
  </div>
</div>
<% end %>
  <%- end -%>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
  
  <%= yield :extra_footer %>
</body>
</html>
